<p>
  We couldn't verify that the class you are trying to upgrade actually exists at this time, so upgrading is not available. Please verify
  the class exists, and if it does, please try again later.
</p>

<p>
  <%= link_to "Return Home", root_url %>
</p>

