<h3>Help</h3>

<p>
  If you can't find an answer to your question here, please email us at 
  <a href="mailto:support@GetMyClass.com">support@GetMyClass.com</a>.
</p>

<h4>How do I find the information needed to watch my class?</h4>
<p>
  Each school requires different information so that we can identify the class that you need.  Usually, a term
  and a class number of some sort are needed.  You should locate the class you want in your school's class search
  and then go to GetMyClass.com to enter it. When you select your school, a link to more specific information about
  which details you need should appear.
</p>

<h4>What if my school is not listed?</h4>
<p>
  We will be adding more schools in the future, so we'd like to hear from you if you would like your school
  added.  Please email us at <a href="mailto:support@GetMyClass.com">support@GetMyClass.com</a> and let us know
  which school you'd like us to add.
</p>
<p>
  Or, if you are a <a href="http://www.ruby-lang.org/">Ruby</a> hacker, you can take a look at the code on github, write
  your own plugin, let us know, and we'll include it. The site itself is <a href="https://github.com/alwold/classwatch">here</a>,
  and sample plugins are <a href="https://github.com/alwold/asu-schedule-scraper">here</a> and <a href="https://github.com/alwold/yc-schedule-scraper">here</a>.
</p>

<h4>Is there a charge for the service?</h4>
<p>
  There is no charge if you'd like us to email you when your class is available.  For an extra charge, you can
  receive text messages on your phone. Adding text messages allows you to get notifications more quickly, increasing
  your chances of being able to register before someone else does.
</p>
