label {
	display: block;
}

#userInfo {
	float: right;
	padding: 10px;
}


body {
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#eee));

	font-family: sans-serif;
	margin: 0;
}

h1, h2 {
	font-variant: small-caps;
}

h1 {
	margin: 0;
	padding: 10px;
	background: white;
	border-bottom: 1px solid gray;
}

h1 a {
    color: black;
    text-decoration: none;
}


#main {
	background: white;
	border-radius: 15px;
	clear: both;
	width:80%;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid gray;
}

.left-column {
	float: left;
	width: 50%
}

.right-column {
	float: right;
	width: 50%
}

.clear {
	clear: both;
}

.info {
	color: green;
}

.error, .alert, .errorExplanation {
	color: red;
}

#spinner {
  display: none;
}

.warning {
  border: 1px solid black;
  background: yellow;
  color: black;
}